
.header {
    display: flex;
    height: 5rem;
    justify-content:space-between;
    align-items: center;
    padding: 0 4rem;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 4px solid #c0baba;
}

.header h1 img {
    width: 4rem;
    height: auto;
    cursor: pointer;
}

.main-logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.main-logo img {
    border-radius: 50%;
}
h1 {
    color: blue;
    font-size: 2rem;
}

.dropdown {
    display: block;
    width: 15rem;
}

.button-menu {
    margin-left: 12rem;
}

.dropbtn {
    border: 2px solid #c0baba;
    border-radius: 20%;
    width: auto;
    height: 3.5rem;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}

.dropbtn img {
    width: auto;
    height: 2.4rem;
    opacity: 0.8;
}
.dropbtn img :hover {
    opacity: 0.2;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f1f1f1;
  }

.dropdown-content {
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #f1f1f1;
    width: 20%;
    height: 100vh;
    text-align: center;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: scroll;
}

.dropdown-content-none {
    display: none;
}

.dropdown-content a {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.dropdown a:hover {background-color: #ddd;}

.all-options {
    margin-top: 3rem;
    border-top: 0.2rem solid #ddd;
    border-bottom: 0.2rem solid #ddd;
}

.x-img {
    width: 2.6rem;
    height: auto;
    opacity: 0.8;
    float: right;
    cursor: pointer;
    background-color: #f1f1f1;
}
.search-side {
    display: none;
}
.side-popular{
    display: none;
}

@media only screen and (max-width:1500px){
    .header {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .dropdown {
        display: block;
        width: 8rem;
    }
    .dropdown-content {
        width: 30%;
    }
    .button-menu {
        margin-left: 6rem;
    }
    .side-popular{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 3rem;
    }
}
@media only screen and (max-width:1100px){
    .header {
        height: 4.5rem
    }
    .dropdown-content {
        width: 50%;
    }
    .main-search {
        display: none;
    }
    .search-side {
        display: block;
        background-color: white;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }

}

@media only screen and (max-width:800px){
    .header {
        display: flex;
        height: 4.5rem;
        justify-content:space-between;
        align-items: center;
        margin: auto;
    }
    .dropdown-content {
        width: 70%;
    }
}

@media only screen and (max-width:580px){
    .header{
        padding: 0;
        margin: auto;
        justify-content:space-between;
    }
    .header h1 span {
        display: none;
    }
    .main-logo {
        padding-left: 1rem;
    }
    .dropdown {
        padding-right: 2rem;
    }
    .dropdown-content {
        width: 100%;
    }
    .dropbtn {
        border: none;
        width: auto;
        height: 2.7rem;
        cursor: pointer;
        background-color: white;
    }


    .dropbtn img {
        height: 2.6rem;
        opacity: 0.8;
    }

    /*.dropdown {
    display: block;
    width: 15rem;
}

.button-menu {
    margin-left: 12rem;
}

.dropbtn {
    border: 2px solid #c0baba;
    border-radius: 20%;
    width: auto;
    height: 3.5rem;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}

.dropbtn img {
    width: auto;
    height: 2.4rem;
    opacity: 0.8;
}
*/
}


