
.search-items {
    display: none;
    position: absolute;
}

.search-response {
    margin: 2rem auto;
    padding-left: 1rem;
}


.result-container {
    cursor: pointer;
    padding-right: 2rem;
    
}

.result-container :hover {
    background-color: #ddd;
    border-radius: 1rem;
}

.results {
    border-bottom: 0.1rem solid #c0baba;
    padding-left: 1rem;
}
